mixin fantastic()
    +b('section').fantastic
        +e.container
            img( class="bg-sky" src='/images/promo-bg-sky.png')
            img( class="logo" src='/images/logo.svg')
            +e.footer-bg
                img(src='/images/magic-region-bg.png')
            +e.footer-bg-mobile
                img(src='/images/magic-region-bg-mobile.png')
            +e.gramophone
                img(src='/images/gramophone-region.png')
            +e.title-fantastic СКАЗОЧНЫЕ злодеи
            +e.slider
                +e.wrap__list
                    +e.item
                        +e.list__card(id='1')
                            +e.list__card-front
                                +e.list__card-tape
                                    img(src='/images/tape.png')
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-wrap
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-img
                                            img(src='/images/fantastic-hero-name-1.png')
                                        +e.list__card-wrap-item-text Находится под 200-летним домашним арестом после того, как выяснилось, что по её вине началась эпидемия Сovid-19. Не теряет энтузиазма и предприимчивости, поддерживает связь с коллегами по сказочному миру. В свободное время меняет внешность и подрабатывает вебкам-моделью.
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-image
                                            img(src='/images/fantastic-hero-1.png')
                                        +e('a').list__card-wrap-item-button информатор?
                            +e.list__card-back
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-back-close
                                    img(src='/images/close.svg')
                                +e.list__card-back-line
                                +e.list__card-back-text.max-text Предприимчивости Яге и правда не занимать, и она удачно колдует и «нашим, и вашим», то есть и сказочным злодеям, и ОБСП (Отделу по борьбе со сказочными преступлениями). Без удовольствия, конечно, но что делать? Двухсотлетний срок сам себя не скостит!
                                +e.list__card-back-line
                                +e.list__card-back-link Подробности в сериале, уже на <a target='blank' href='https://okko.tv/serial/volshebnyjj-uchastok'>Okko</a>     
                    +e.item
                        +e.list__card(id='2')
                            +e.list__card-front
                                +e.list__card-tape
                                    img(src='/images/tape.png')
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-wrap
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-img
                                            img(src='/images/fantastic-hero-name-2.png')
                                        +e.list__card-wrap-item-text Маньяк-шизофреник, который внезапно объявился в наших краях и теперь угрожает спалить весь город. Совсем не похож на сказочного трехглавого змея. На вид мужчина средних лет, но внутри него скрываются сразу три личности: сумасшедший пироманьяк, неуравновешенная женщина и капризный ребёнок.
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-image
                                            img(src='/images/fantastic-hero-2.png')
                                        +e('a').list__card-wrap-item-button информатор?
                            +e.list__card-back
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-back-close
                                    img(src='/images/close.svg')
                                +e.list__card-back-line
                                +e.list__card-back-text Ну уж нет! Змей-Горыныч сам с собой не может договориться, куда ему со следствием сотрудничать! Все его три личности ненавидят закон и порядок одинаково!
                                +e.list__card-back-line
                                +e.list__card-back-link Подробности в сериале, уже на <a target='blank' href='https://okko.tv/serial/volshebnyjj-uchastok'>Okko</a>
                    +e.item
                        +e.list__card(id='3')
                            +e.list__card-front
                                +e.list__card-tape
                                    img(src='/images/tape.png')
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-wrap
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-img
                                            img(src='/images/fantastic-hero-name-3.png')
                                        +e.list__card-wrap-item-text Воплощение чистого зла. Считался бессмертным, но тысячи лет назад добрые люди справились с ним, превратив в пыль и песок. Не помогло. Как оказалось, Кощей и правда бессмертный. Восстал из кучки пепла, превратился в оптоволокно и опутал паутиной весь мир, поселившись в интернете. Теперь думает, как бы поскорее оттуда выбраться и поработить человечество не только онлайн, но и в реальности.
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-image.bottom-padding
                                            img(src='/images/fantastic-hero-3.png')
                                        +e('a').list__card-wrap-item-button информатор?
                            +e.list__card-back
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-back-close
                                    img(src='/images/close.svg')
                                +e.list__card-back-line
                                +e.list__card-back-text «Информация в руках злоумышленника Кощея. Ищи ответ в сериале <a target='blank' href='https://okko.tv/serial/volshebnyjj-uchastok'>"Волшебный участок"</a> в Okko».
                                +e.list__card-back-line
                                +e.list__card-back-link Подробности в сериале, уже на <a target='blank' href='https://okko.tv/serial/volshebnyjj-uchastok'>Okko</a>        
                    +e.item
                        +e.list__card(id='4')
                            +e.list__card-front
                                +e.list__card-tape
                                    img(src='/images/tape.png')
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-wrap
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-img
                                            img(src='/images/fantastic-hero-name-4.png')
                                        +e.list__card-wrap-item-text Сильная, холодная и властная женщина, под ледяным каблуком которой находятся тысячи узников «Сказочного централа». Настоящий авторитет. Перед ее чарами практически невозможно устоять, но сотрудники отдела, кажется, придумали, как справиться со сказочной ведьмой.
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-image
                                            img(src='/images/fantastic-hero-4.png')
                                        +e('a').list__card-wrap-item-button информатор?
                            +e.list__card-back
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-back-close
                                    img(src='/images/close.svg')
                                +e.list__card-back-line
                                +e.list__card-back-text Холодно! Ледяная Госпожа слишком любит власть, чтобы подчиниться кому-либо. Особенно правоохранительным органам.
                                +e.list__card-back-line
                                +e.list__card-back-link Подробности в сериале, уже на <a target='blank' href='https://okko.tv/serial/volshebnyjj-uchastok'>Okko</a>    
                    +e.item
                        +e.list__card(id='5')
                            +e.list__card-front
                                +e.list__card-tape
                                    img(src='/images/tape.png')
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-wrap
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-img
                                            img(src='/images/fantastic-hero-name-5.png')
                                        +e.list__card-wrap-item-text Ведут асоциальный образ жизни, занимаются нелегальным бизнесом. Ранее привлекались за мелкое хулиганство, но были отпущены за примерное поведение. Промышляют грабежами, используя шапки-невидимки и другие сказочные артефакты.
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-image
                                            img(src='/images/fantastic-hero-5.png')
                                        +e('a').list__card-wrap-item-button информатор?
                            +e.list__card-back
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-back-close
                                    img(src='/images/close.svg')
                                +e.list__card-back-line
                                +e.list__card-back-text У предприимчивых леших дела идут в гору! Но огласка им никак не нужна, так что лишних людей, особенно из ОБСП, Лешие в своём ИП видеть не хотят.
                                +e.list__card-back-line
                                +e.list__card-back-link Подробности в сериале, уже на <a target='blank' href='https://okko.tv/serial/volshebnyjj-uchastok'>Okko</a>
                    +e.item
                        +e.list__card(id='6')
                            +e.list__card-front
                                +e.list__card-tape
                                    img(src='/images/tape.png')
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-wrap
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-img
                                            img(src='/images/fantastic-hero-name-6.png')
                                        +e.list__card-wrap-item-text Неоднократно судимый террорист-рецидивист. Короче, скользкий тип, и не только потому, что проживает на дне океана. В очередной раз сбежал из «Сказочного централа» и представляет огромную опасность для жителей города. На его поимку брошены лучшие силы отдела.
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-image
                                            img(src='/images/fantastic-hero-6.png')
                                        +e('a').list__card-wrap-item-button информатор?
                            +e.list__card-back
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-back-close
                                    img(src='/images/close.svg')
                                +e.list__card-back-line
                                +e.list__card-back-text Хорошая попытка, но Русал — слишком скользкий тип. И из «Сказочного Централа» сбежал, и от приглашения поработать на благо закона и порядка отказался бы сразу.
                                +e.list__card-back-line
                                +e.list__card-back-link Подробности в сериале, уже на <a target='blank' href='https://okko.tv/serial/volshebnyjj-uchastok'>Okko</a>
                    +e.item
                        +e.list__card(id='7')
                            +e.list__card-front
                                +e.list__card-tape
                                    img(src='/images/tape.png')
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-wrap
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-img
                                            img(src='/images/fantastic-hero-name-7.png')
                                        +e.list__card-wrap-item-text Энциклопедически образован. Имеет обширные связи в среде сказочных, где пользуется определённым авторитетом, несмотря на то, что сам к криминалу непричастен. Благодаря своему высочайшему IQ научился делать деньги из воздуха и целыми днями просиживает в недрах местной ТЭЦ, где круглосуточно майнит крипту.
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-image
                                            img(src='/images/fantastic-hero-7.png')
                                        +e('a').list__card-wrap-item-button информатор?
                            +e.list__card-back
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-back-close
                                    img(src='/images/close.svg')
                                +e.list__card-back-line
                                +e.list__card-back-text.max-text Эх, если бы завербовать Кота, дела б в Волшебном участке пошли в гору! Но кот слишком хитёр и умеет зубы заговаривать: то сказку расскажет, то историю из непростой кошачьей жизни. Вот только пользы от его историй полиции никакой.
                                +e.list__card-back-line
                                +e.list__card-back-link Подробности в сериале, уже на <a target='blank' href='https://okko.tv/serial/volshebnyjj-uchastok'>Okko</a>
                    +e.item
                        +e.list__card(id='8')
                            +e.list__card-front
                                +e.list__card-tape
                                    img(src='/images/tape.png')
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-wrap
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-img
                                            img(src='/images/fantastic-hero-name-8.png')
                                        +e.list__card-wrap-item-text После Чернобыльской катастрофы решили люди допускать сказочных до работы на важных стратегических предприятиях. Жар-птица с тех пор трудится на одной из ТЭЦ Москвы, обеспечивая энергетическую безопасность города. Но не всех это устраивает, и злодеи, вроде банды байкеров-человекомедведей, ведут постоянную охоту за важной птицей.
                                    +e.list__card-wrap-item
                                        +e.list__card-wrap-item-image.bottom-padding
                                            img(src='/images/fantastic-hero-8.png')
                                        +e('a').list__card-wrap-item-button информатор?
                            +e.list__card-back
                                +e.list__card-voron
                                    img(src='/images/voron.png')
                                +e.list__card-back-close
                                    img(src='/images/close.svg')
                                +e.list__card-back-line
                                +e.list__card-back-text.max-text Жар-птица — создание исключительное! Если другие сказочные герои все думают, как бы людям напакостить, она исключительно пользу приносит и с криминальными элементами не общается. По крайней мере, по своей воле!
                                +e.list__card-back-line
                                +e.list__card-back-link Подробности в сериале, уже на <a target='blank' href='https://okko.tv/serial/volshebnyjj-uchastok'>Okko</a>
                +e.wrap__button
                    +e.wrap__button-prev
                        img(src='/images/arrow-prev.svg')
                    +e.wrap__button-next
                        img(src='/images/arrow-next.svg')
            +e.button
                +e('a').button-link.main-link(href='/') на главную
                +e('a').button-link(href='/people.html') люди
                    
            