.people
    font-family $ff-BebasNeueBold
    position relative
    background-color $c-black
    width 100%
    overflow hidden

    &__header
        display flex
        align-items center
        padding w(35) 0 0 w(120)
        gap w(450)
        +below(720px)
            padding wm(30) 0 0 wm(120)

    &__logo-title
        color $c-logo
        font-size w(64)
        padding w(30)
        +below(720px)
            display none


    &__content
        position relative
        padding w(300) 0 0 w(400)
        +below(720px)
            display flex
            flex-direction column
            align-items center
            padding wm(215) 0 0 wm(45)
        &:nth-child(2n+2)
            padding w(320) 0 0 w(540)
            +below(720px)
                padding wm(215) 0 0 0

        &:nth-child(3)
            padding w(380) 0 0 w(420)
            +below(720px)
                padding wm(215) 0 0 0

        &:nth-child(4)
            +below(720px)
                padding wm(40) 0 0 0
        &:nth-child(5)
            padding-top w(110)
            +below(720px)
                padding wm(240) 0 0 wm(45)
        &:nth-child(6)
            padding-top w(180)
            +below(720px)
                padding-top wm(220)
        &:nth-child(7)
            padding-left w(300)
            +below(720px)
                padding wm(255) 0 0 wm(45)
        &:nth-child(8)
            padding w(260) 0 0 w(705)
            +below(720px)
                padding wm(160) 0 0 wm(27)
        &:nth-child(9)
            padding w(30) 0 0 w(400)
            +below(720px)
                padding wm(290) 0 0 0

    
    &__letter
        position absolute
        width w(437)
        height w(546)
        left 0
        top 0
        +below(720px)
            width wm(287)
            height wm(359)
            left wm(-20)

    &__letter-dwarf
        top w(140)
        left w(320)
        +below(720px)
            width wm(269px)
            height wm(337px)
            top wm(120)
            left wm(30)

    &__letter-vasilisa
        width w(370)
        height w(462)
        top w(140)
        left w(70)
        +below(720px)
            width wm(280)
            height wm(350)
            left 0

    &__letter-mikhalych
        top w(160)
        left w(330)
        z-index 2
        width w(458)
        height w(573)
        +below(720px)
            width wm(283)
            height wm(355)
            left wm(10)
            top wm(450)

    &__letter-fedorova
        top w(-75)
        left w(140)
        width w(400)
        height w(500)
        z-index 3
        +below(720px)
            top wm(85)
            left wm(20)
            width wm(280)
            height wm(350)

    &__letter-hare
        width w(400)
        height w(500)
        top w(70)
        left w(380)
        +below(720px)
            top wm(-50)
            left 0
            width wm(326)
            height wm(408)
            z-index 3

    &__letter-elizarov
        width w(400)
        height w(500)
        top w(190)
        left w(20)
        +below(720px)
            width wm(291)
            height wm(364)
            top wm(130)
            left wm(20)

    &__letter-ravens
        position absolute
        top w(100)
        left w(350)
        width w(381)
        height w(538)
        +below(720px)
            width wm(254)
            height wm(358)
            left wm(20)
            top wm(-65)

    &__letter-krasnova
        position absolute
        top w(-120)
        left w(50)
        width w(354)
        height w(500)
        +below(720px)
            width wm(242)
            height wm(342)
            top wm(95)
            left wm(27)

    &__title-red
        img
            width w(642)
            height w(110)
            +below(720px)
                width wm(486)
                height wm(91)
                margin wm(-20) 0 0 wm(145)

    &__title-dwarf
        img
            width w(866)
            height w(116)
            &:nth-child(2)
                display none
            +below(720px)
                width wm(491)
                height wm(180)
                margin wm(20) 0 0 wm(162)
                &:nth-child(1)
                    display none
                &:nth-child(2)
                    display block



    &__title-vasilisa
        img
            width w(480)
            height w(102)
            +below(720px)
                margin wm(70) 0 0 wm(268)
                width wm(305)
                height 100%

    &__title-mikhalych
        img
            width w(375)
            height w(103)
            margin w(125) 0 0 w(205)
            +below(720px)
                width wm(275)
                height 100%
                margin wm(95) 0 0 wm(275)


    &__title-fedorova
        img
            width w(680)
            padding w(70) 0 0 w(45)
            &:nth-child(2)
                display none
        +below(720px)
            img
                width wm(304)
                margin 0 0 0 wm(210)
                &:nth-child(1)
                    display none
                &:nth-child(2)
                    display block

    &__title-hare
        img
            width w(500)
            height w(280)
            margin w(40) 0 0 w(190)
            &:nth-child(2)
                display none
            +below(720px)
                width wm(386)
                height 100%
                margin wm(7) 0 0 wm(290)
                &:nth-child(1)
                    display none
                &:nth-child(2)
                    display block

    &__title-elizarov
        img
            width w(370)
            margin w(70) 0 0 0
            +below(720px)
                width wm(341)
                height 100%
                margin wm(-2) 0 0 wm(180)

    &__title-ravens
        img
            width w(599)
            &:nth-child(2)
                display none
            &:nth-child(3)
                display none
            +below(720px)
                &:nth-child(1)
                    display none
                &:nth-child(2)
                    display block
                    width wm(240)
                    margin wm(5) 0 0 wm(240)
                &:nth-child(3)
                    display block
                    width wm(659)
                    margin wm(40) 0 0 0


    &__title-krasnova
        img
            width w(470)
            +below(720px)
                width wm(370)
                margin wm(5) 0 0 wm(270)



    &__container-content-text
        position relative
        z-index 2

    &__container-text
        color $c-text
        font-family $ff-BerlingskeSerif-Lt
        margin-top w(22)
        width w(810)
        font-size w(24)
        line-height w(36)
        +below(720px)
            font-size wm(24)
            line-height wm(36)
            width 96%
            margin-top wm(55)


    &__container-text-shift
        margin-left w(250)
        width w(680)
        +below(720px)
            margin wm(175) 0 0 0
            padding 0 wm(39) 0 wm(45)
            width 97%

    &__container-text-shift-less
        padding 0 w(110) 0 w(100)
        +below(720px)
            padding 0
            width 88%
            padding 0 0 0 wm(45)
            margin-top 0

    &__container-text-mikhalych
        margin-left w(240)
        width w(753)
        +below(720px)
            margin wm(90) 0 0 0
            width 88%
            padding-left wm(44)


    &__container-text-fedorova
        margin-left w(135)
        width w(782)
        +below(720px)
            margin wm(40) 0 wm(400) 0
            width 91%

    &__container-text-hare
        margin w(20) 0 0 w(250)
        width w(670)
        +below(720px)
            margin wm(50) 0 0 0
            width 88%
            padding 0 0 0 wm(45)

    &__container-text-elizarov,
    &__container-text-ravens,
    &__container-text-krasnova
        margin-left w(115)
        width w(675)
        +below(720px)
            margin wm(160) 0
            width 88%
            padding-left wm(45)

    &__container-text-ravens
        margin-left w(190)
        width w(675)
        +below(720px)
            margin wm(20) 0 0 0
            width 91%
            padding-left wm(18)

    &__container-text-krasnova
        margin-left 0
        +below(720px)
            margin wm(20) 0 wm(47) 0
            width 91%



    &__popov-img
        position absolute
        width w(700)
        height w(977)
        top w(140)
        right 0
        +below(720px)
            display none

    &__popov-img-mobail
        display none
        +below(720px)
            display block
            width wm(422)
            height wm(287)
            margin-top wm(60)

    &__gramophone-img
        position absolute
        width 100%
        height w(733)
        top w(650)
        right 0
        +below(720px)
            display none

    &__gramophone-mobail-img
        display none
        +below(720px)
            position absolute
            display block
            width 100%
            left 0
            top wm(-80)
            height wm(449)

    &__vasilisa-img
        position absolute
        width w(532)
        height w(666)
        top w(295)
        left w(90)
        +below(720px)
            display none

    &__frog-img
        position absolute
        width w(356)
        height w(351)
        top w(360)
        right w(340)
        +below(720px)
            display none

    &__vasilisa-mobail-img
        display none
        +below(720px)
            display block
            width 91%
            height wm(452)
            margin-top wm(-55)

    &__mikhalych-img
        position absolute
        width 96%
        height w(730)
        left 0
        top 0
        +below(720px)
            display none

    &__mikhalych-mobail-img
        display none
        +below(720px)
            display block
            width wm(585)
            height wm(493)

    &__fedorova-img
        position absolute
        width w(800)
        height w(800)
        top w(-200)
        right 0
        +below(720px)
            display none

    &__prediety-img
        width 89%
        position absolute
        left 0
        top w(500)
        +below(720px)
            display none

    &__fedorova-mobail-img
        display none
        +below(720px)
            position absolute
            width wm(720)
            height wm(871)
            left 0
            bottom wm(-210)  
            display block

    &__man-hare-img
        position absolute
        width w(273)
        height w(750)
        top w(250)
        left w(80)
        +below(720px)
            width wm(111)
            height wm(360)
            top wm(-420)
            left wm(150)
            z-index 3

    &__hare-mobail-img
        display none
        +below(720px)
            position absolute
            display block
            width wm(505)
            height wm(246)
            bottom wm(-200)
            right 0

    &__watering-can-img
        position absolute
        width w(444)
        height w(574)
        top w(120)
        right w(370)
        +below(720px)
            width wm(222)
            height wm(288)
            top wm(790)
            right wm(40)

    &__stars-img
        position absolute
        right w(280)
        top w(80)
        width w(936)
        height w(281)
        +below(720px)
            display none


    &__voron-img
        position absolute
        bottom w(293)
        right w(570)
        z-index 2
        width w(338)
        height w(295)
        +below(720px)
            width wm(338)
            height wm(295)
            bottom 0
            top wm(-170)
            right wm(200)

    &__stars-ravens-img
        position absolute
        right w(50)
        top w(-20)
        width w(936)
        height w(281)
        +below(720px)
            display none


    &__button
        position relative
        margin w(90) 0 0 w(380)
        width w(705) 
        display flex
        gap w(34)
        z-index 2
        +below(720px)
            width 100%
            gap wm(42)
            margin wm(35) 0 0 0
            justify-content center

    
    &__button-link
        text-transform uppercase
        color $c-white
        text-decoration none
        background-color $c-btn
        font-size w(48)
        line-height w(39)
        border-radius w(15)
        padding w(15) w(30)
        transition 0.5s
        &:hover
            background-color $c-btn-hover
        +below(720px)
            display flex
            align-items center
            padding 0 wm(32) wm(5) wm(32)
            height wm(64)
            border-radius wm(15)
            font-size wm(48)
            line-height wm(39)
            padding-top wm(10)

    &__vidio
        display flex
        justify-content center
        flex-direction column
        align-items center
        padding  w(40) 0 w(25) 0
        gap w(40)
        +below(720px)
            padding wm(60) 0 wm(45) 0
            gap wm(20)


    &__vidio-wrap
        width w(1066)
        height w(511)
        margin-left w(110)
        iframe
            width 100%
            height 100%
        +below(720px)
            width wm(608)
            height wm(291)
            margin-left 0


    &__signature
        position relative
        color $c-btn
        text-align center
        font-size w(26)
        font-family $ff-BerlingskeSerif-Lt
        line-height w(30)
        z-index 2
        margin-left w(100)
        a
          color $c-linck
          text-decoration underline
        +below(720px)
            font-size wm(24)
            line-height wm(28)
            margin 0
            padding 0 wm(140)

    &__footer
        position relative
        height w(368)
        +below(720px)
            height wm(450)

    &__footer-bg
        position absolute
        bottom 0
        width 100%
        height w(368)
        +below(720px)
            display none
    
    &__footer-mobail-bg
        display none
        +below(720px)
            position absolute
            width 100%
            display block
            bottom 0

    &__footer-patefon
        position absolute
        width w(289)
        height w(494)
        bottom w(80)
        left w(100)
        z-index 2
        +below(720px)
            display none

    &__footer-table
        position absolute
        top  w(75)
        right 0
        width w(628)
        height w(542)
        +below(720px)
            width wm(321)
            height wm(278)
            top  0
            right wm(50)
    
.okko
    position relative
    width w(358)
    height w(272)
    z-index 2
    +below(720px)
        width wm(204)
        height wm(154)