@font-face
	font-family 'BebasNeueBold'
	src url('../../fonts/BebasNeueBold.woff2') format('woff2')

@font-face
	font-family 'BerlingskeSerif-Lt'
	src url('../../fonts/BerlingskeSerif-Lt.woff') format('woff')