$ff-BebasNeueBold = 'BebasNeueBold', sans-serif
$ff-BerlingskeSerif-Lt = 'BerlingskeSerif-Lt', sans-serif

$c-black = #000000
$c-white = #FFFFFF
$c-text = #FFE8BC
$c-btn = #FEC059
$c-linck = #FF7A57
$c-logo = #CD9B3D
$c-btn-hover = #861D00

