mixin promo()
    +b('section').promo
        +e.container 
            img( class="bg-sky" src='/images/promo-bg-sky.png')
            img( class="logo" src='/images/logo.svg')
            +e.container-content
                +e.container-title 
                    img( class="promo__promo-C" src='/images/promo-C.png')
                    +e.container-title-text Сказки на новый лад или сказочные герои среди нас
                +e.container-text Если кто‑то думает, что сказка ― ложь, то он сильно заблуждается. Гномы, лешие, кикиморы и оборотни существуют! Более того, они находятся среди нас и прекрасно себя чувствуют в современном мире: сидят в интернете, занимаются бизнесом, осваивают высокие технологии, а иногда даже нарушают закон. Причём проблемы они создают не сказочные, а очень даже реальные! Именно со всей этой нечистью сражается специальный отдел полиции по борьбе со сказочными преступлениями, а проще говоря ― Волшебный участок. Его доблестные сотрудники знают, как обезвредить грабителя в шапке-невидимке, чего боится Змей Горыныч, почему не стоит играть на гуслях-самоплясах и на какую приманку нужно ловить Русала. Но задержать дубоголовых леших ― это ещё полбеды, куда сложнее справиться с глобальным худом, которое мечтает выбраться наружу и поработить человечество. Впереди решающая битва, в которой сотрудникам Волшебного участка предстоит защитить наш реальный мир от зла сказочных масштабов.
                +e.button 
                    +e('a').button-link(href='/people.html') люди
                    +e('a').button-link(href='/fantastic.html') сказочные
            img( class="promo__bg" src='/images/promo-bg.png')
            img( class="promo__bg-mobail" src='/images/promo-bg-mobail.png')
