mixin promo()
    +b('section').promo
        +e.container
            img( class="bg-sky" src='/images/promo-bg-sky.png').fadeInLeft.wow(data-wow-duration="1.5s")
            img( class="logo" src='/images/logo.svg').fadeInRight.wow(data-wow-duration="1.5s")
            +e.container-content
                +e.container-title.fadeIn.wow(data-wow-duration="2s") 
                    img( class="promo__promo-C" src='/images/promo-C.png')
                    img( class="promo__voron-bg" src='/images/voron-1.svg').fadeInRight.wow(data-wow-duration="1.5s")
                    +e.container-title-text Сказки на&nbsp;новый лад или сказочные герои среди нас
                +e.container-text.fadeInLeft.wow(data-wow-duration="1.5s") Если кто‑то думает, что сказка ― ложь, то&nbsp;он&nbsp;сильно заблуждается. Гномы, лешие, кикиморы и&nbsp;оборотни существуют! Более того, они находятся среди нас и&nbsp;прекрасно себя чувствуют в&nbsp;современном мире: сидят в&nbsp;интернете, занимаются бизнесом, осваивают высокие технологии, а&nbsp;иногда даже нарушают закон. Причём проблемы они создают не&nbsp;сказочные, а&nbsp;очень даже реальные! Именно со&nbsp;всей этой нечистью сражается специальный отдел полиции по&nbsp;борьбе со&nbsp;сказочными преступлениями, а&nbsp;проще говоря ― Волшебный участок. Его доблестные сотрудники знают, как обезвредить грабителя в&nbsp;шапке-невидимке, чего боится Змей Горыныч, почему не&nbsp;стоит играть на&nbsp;гуслях-самоплясах и&nbsp;на&nbsp;какую приманку нужно ловить Русала. Но&nbsp;задержать дубоголовых леших ― это ещё полбеды, куда сложнее справиться с&nbsp;глобальным худом, которое мечтает выбраться наружу и&nbsp;поработить человечество. Впереди решающая битва, в&nbsp;которой сотрудникам Волшебного участка предстоит защитить наш реальный мир от&nbsp;зла сказочных масштабов.
                +e.button
                    +e('a').button-link(href='/people.html').fadeInLeft.wow(data-wow-duration="1.5s") люди
                    +e('a').button-link(href='/fantastic.html').fadeInRight.wow(data-wow-duration="1.5s") сказочные
                +e.button
                    +e.signature.fadeInLeft.wow(data-wow-duration="1.5s") Смотри сериал &laquo;Волшебный участок&raquo; <br>в&nbsp;онлайн-кинотеатре <a target='blank' href='https://okko.tv/serial/volshebnyjj-uchastok'>Okko</a> 
            img( class="promo__bg" src='/images/promo-bg.png').fadeIn.wow(data-wow-duration="2s") 
            img( class="promo__bg-mobail" src='/images/promo-bg-mobail.png').fadeIn.wow(data-wow-duration="2s") 
            img( class="promo__age" src='/images/age.svg').fadeIn.wow(data-wow-duration="1.5s")